html, body{
  background-color:yellow;
}
.superior{
  height: 10%;
  background-color:orange;
  margin: 0;
}
.inferior{
  height: 85%;
  margin: 0;
}
.columna1{
  width: 10%;
  height: 100%;
  background-color:red;
  margin: 0;
  float:left;
}	
.columna2{
  width: 70%;
  height: 100%;
  background-color:blue;
  margin: 0;
  float:left;
}	
.columna3{
  width: 20%;
  height: 100%;
  background-color:green;
  margin: 0;
  float:left;
}	

